{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/wrdlego/css/shop-homepage.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/wrdlego/js/bootstrap.min.js') }}"></script>
{% endblock %}
{% block title %}Lego!{% endblock %}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('wrd_lego_homepage') }}">Lego</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    {% block products %}{% endblock products %}
{% endblock body %}